.form {
  font-size: 1.5vw;
  font-weight: 400;
  height: auto;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding-bottom: 15px;
}
.imgcontainer {
  flex: 1;
}
.input {
  flex: 9;
}
.input label{
  font-size: 3vh;
}
.img {
  border-radius: 50%;
}
.text {
  font-size: 4vh;
  padding: 10px;
  margin-bottom: 20px;
}
.button {
  font-size: 3vh;
  background-color: rgba(255, 255, 255, 0.075);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 10px;
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
}
.button:hover {
    background-color: white;
    color: #3673fd;
    border-color: white;
  }
  .result {
    text-align: center;
    padding-top: 20vh;
    padding-bottom: 25vh;
    font-size: 3vw;
  }